:root{
    --blue-clr: #1523ff;
    --naive-clr: #1d3673;
    --red-clr: #ff2a15;
    --gld-clr: #eac13b;
    --txt-clr: #ffffff;
    --txt-clr-: #ffffff;
    --bg-clr-: #212121;
    --bg-clr: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background: var(--txt-clr);
    color: var(--bg-clr);
    transition: 1s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.nav-line{
    width: 100%;
    height: 1.5px;
    background: var(--gld-clr);
}

.nav-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    background: var(--naive-clr);
    color: var(--txt-clr-);
}
.nav-info ul{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9px 2px;
    
}
.nav-info ul::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--txt-clr-);
    left: -22px;
}
.nav-info ul li i{
    font-size: 15px;
    padding-right: 4px;
}


.nav-info .social{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 2px;
    padding-top: 11px;
}

.nav-info .social::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--txt-clr-);
    left: -22px;
}
.nav-info .social::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--txt-clr-);
    right: -12px;
}

.nav-info .social a{
    height: 33px;
	width: 33px;
    text-align: center;
	background-color: var(--gld-clr);
	margin:0 10px 10px 0;
	line-height: 33px;
	border-radius: 5px;
	color: #ffffff;
	transition: all 0.5s ease;
}
.nav-info .social a:hover{
    border-radius: 50%;
}

.nav-info .social i{
    font-size: 17px;
}

.nav-info ul a{
    text-decoration: none;
    color: var(--txt-clr-);
    padding-left: 3px;
}
.nav-info ul i{
    font-size: 12px;
}

.logo span{
    color: var(--blue-clr);
    padding-left: 5px;
}
nav a{
    text-decoration: none;
    color: var(--bg-clr);
}

.logo img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.off-screen-menu{
    display: none;
}

.dark-light{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
}

.navbar li{
    list-style: none;
}
.navbar {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.navbar a{
    display: flex;
    margin: 0px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 5px 5px;
    transition: 0.4s;
}

.navbar a:hover{
    color: var(--txt-clr-);
}

.navbar a:after{
    content: "";
    position: absolute;
    background: var(--blue-clr);
    box-shadow: 0px 0px 10px var(--blue-clr);
    height: 4px;
    width: -1;
    left: 0;
    bottom: -1px;
    transition: 0.4s;
    z-index: -1;
}
.navbar a:hover:after{
    width: 100%;
    padding: 13px 0px;
}


.hero{
    width: 100%;
    height: 310px;
    background-image: url("img/about.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--txt-clr-);
}

.hero h1{
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.about {
    text-align: center;
    align-items: center;
    margin: 35px 40px;
}
.about h2{
    font-size: 35px;
}
.about .line{
    width: 45%;
    height: 3px;
    margin-left: 27.5%;
    background-color: var(--blue-clr);
    border-radius: 4px;
    margin-bottom: 20px;
}

.about p{
    font-size: 25px;
    margin: 15px 0px;
}

.vision {
    text-align: center;
    align-items: center;
    margin: 35px 40px;
}

.vision h2{
    font-size: 35px;
    margin-top: 15px;
}
.vision .line{
    margin-left: 41%;
    width: 18%;
    height: 3px;
    background: var(--red-clr);
    margin-bottom: 26px;
}

.vision p{
    font-size: 25px;
    margin: 15px 0px;
}

.mision {
    margin: 35px 40px;
}

.mision h2{
    font-size: 35px;
    margin-top: 15px;
    text-align: center;
}
.mision .line{
    margin-left: 41%;
    width: 18%;
    height: 3px;
    background: var(--blue-clr);
    margin-bottom: 26px;
}
.mision h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.mision li{
    font-size: 25px;
    margin: 10px 0px;
}
.admin {
    text-align: center;
    align-items: center;
    margin: 25px 40px;
    display: flex;
    flex-direction: column;
}

.admin h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.admin ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.admin li{
    font-size: 25px;
    margin-bottom: 0px;
}

.A-line{
    width: 18.5%;
    height: 3px;
    background-color: var(--red-clr);
}
.F-line{
    width: 100%;
    height: 3px;
    background: var(--gld-clr);
}
@media(max-width: 1025px){
    .nav-info{
        font-size: 13px;
    }

}

@media(max-width: 980px){
    .nav-info{
        font-size: 11px;
    }
}

@media (max-width: 821px){

    .vision .line{
        margin-left: 36%;
        width: 28%;
    }
    
    .mision .line{
        margin-left: 36%;
        width: 28%;
    }

    .nav-info{
        display: none;
    }

    .navbar{
        display: none;
    }
}
@media (max-width: 768px){
    .hero h1{
        font-size: 48px;
    }
    .hero{
        height: 240px;
    }
    .navbar{
        display: none;
    }
    
     
    .about h2{
       font-size: 25px;      
    }
    .about .line{
        width: 84%;
        margin-left: 8%;
    }
    
    .about p{
        font-size: 20px;
    }
    
    .vision h2{
        font-size: 25px;
    }
    .vision p{
        font-size: 20px;
    } 
    
    .mision h2{
        font-size: 25px;
    }
    .mision h3{
        font-size: 20px;
    }
    .mision li{
        font-size: 20px;
    }
    
    .admin h3{
        font-size: 23px;
    }
    .admin p{
        font-size: 20px;
    }
    .A-line{
        display: none;
    }
}

@media(max-width: 436px){
   .txt h1{
       font-size: 35px;
   }
   .hero{
       height: 150px;
   }
   
   
   .about h2{
       font-size: 20px;
   }
   .about {
      margin: 15px 5px;
   }
   .about p{
       font-size: 17px;
   }
   
   .vision h2{
       font-size: 21px;
   }
   .vision p{
       font-size: 17px;
   }
   
    .mision h2{
       font-size: 21px;
   }
   .mision h3{
       font-size: 17px;
   }
   .mision li{
       font-size: 17px;
   }
   .mision ul{
       padding: 15px 4px;
   }
   
   .admin h3{
       font-size: 19px;
   }
   .admin p{
       font-size: 17px;
   }
   
   .admin li{
       font-size: 17px;
   }
   
   
   .logo{
        font-size: 15px;
    }
    
    .back-bar p{
        font-size: 19px;
    }
   
      .back-bar{
       padding: 0px 0px;
  
   }
}


@media(max-width: 436px){

  .back-bar p{
        font-size: 16px;
    }
    
}

@media(max-width: 412px){
   .hero h1{
       font-size: 35px;
   } 
   
   .back-bar p{
        font-size: 16px;
    }
    
 

}
