:root{
    --blue-clr: #1523ff;
    --naive-clr: #1d3673;
    --red-clr: #ff2a15;
    --gld-clr: #eac13b;
    --txt-clr: #ffffff;
    --txt-clr-: #ffffff;
    --bg-clr-: #212121;
    --bg-clr: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background: var(--txt-clr);
    color: var(--bg-clr);
    transition: 1s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.nav-line{
    width: 100%;
    height: 1.5px;
    background: var(--gld-clr);
}

.nav-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    font-size: 16px;
    background: var(--naive-clr);
    color: var(--txt-clr-); 
}
.nav-info ul{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 9px 2px;
    
}
.nav-info ul::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--txt-clr-);
    left: -22px;
}
.nav-info ul li i{
    font-size: 15px;
    padding-right: 4px;
}


.nav-info .social{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 2px;
    padding-top: 11px;
}

.nav-info .social::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--txt-clr-);
    left: -22px;
}
.nav-info .social::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--txt-clr-);
    right: -12px;
}

.nav-info .social a{
    height: 33px;
	width: 33px;
    text-align: center;
	background-color: var(--gld-clr);
	margin:0 10px 10px 0;
	line-height: 33px;
	border-radius: 5px;
	color: #ffffff;
	transition: all 0.5s ease;
}
.nav-info .social a:hover{
    border-radius: 50%;
}

.nav-info .social i{
    font-size: 17px;
}

.nav-info ul a{
    text-decoration: none;
    color: var(--txt-clr-);
    padding-left: 3px;
}
.nav-info ul i{
    font-size: 12px;
}
.logo span{
    color: var(--blue-clr);
    padding-left: 5px;
}
nav a{
    text-decoration: none;
    color: var(--bg-clr);
}

.logo img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.dark-light{
    height: 40px;
    width: 40px;
    margin-left: 15px;
    cursor: pointer;
}

.off-screen-menu{
    display: none;
  }

.navbar li{
    list-style: none;
}
.navbar {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.navbar a{
    display: flex;
    margin: 0px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding: 5px 5px;
    transition: 0.4s;
}

.navbar a:hover{
    color: var(--txt-clr-);
}

.navbar a:after{
    content: "";
    position: absolute;
    background: var(--blue-clr);
    box-shadow: 0px 0px 10px var(--blue-clr);
    height: 4px;
    width: -1;
    left: 0;
    bottom: -1px;
    transition: 0.4s;
    z-index: -1;
}
.navbar a:hover:after{
    width: 100%;
    padding: 13px 0px;
}


.hero{
    width: 100%;
    height: 310px;
    background-image: url("img/conduct.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--txt-clr-);
}

.hero h1{
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.rules{
    margin: 35px 40px;
}

.rules h2{
    font-size: 35px;
    text-align: center;
}
.rules .line{
    width: 68%;
    margin-left: 16%;
    height: 2.5px;
    background: var(--blue-clr);
    margin-bottom: 25px;
}

.times{
    text-align: left;
    margin: 20px 5px;
}

.times h3{
    font-size: 30px;
    margin-top: 35px;
}
.times .line{
    margin-left: 2px;
    width: 16.5%;
}

.times p{
    font-size: 20px;
}

.rules p{
    font-size: 25px;
}

.rules ol{
    margin: 20px 10px;
    margin-left: 40px;
}

.rules ol li{
    font-weight: 550;
    font-size: 25px;
    margin-bottom: 25x;
}

.rules ul li{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 2px;
}

.rules ul{
    margin-bottom: 25px;
}

.safety h2{
    text-align: center;
    margin-top: 30px;
    font-size: 35px;
}
.safety .line{
    margin-left: 17%;
    width: 66%;
    height: 2.5px;
    background: var(--red-clr);
    margin-bottom: 40px;
}

.info{
    text-align: center;
    margin: 20px 20px;
    margin-bottom: 35px;
}

.info h3{
    font-size: 25px;
}
.info .line{
    margin-left: 22%;
    width: 56%;
}
.info p{
    font-size: 25px;
    margin: 10px 20px;
}

.murals{
   margin: 20px 30px;
   margin-bottom: 35px;
}

.murals h2{
    font-size: 30px;
}
.murals .line{
    width: 14.5%;
    height: 2px;
    background: var(--blue-clr);
    margin-bottom: 15px;
}

.murals p{
    font-size: 25px;
}

.after{
    text-align: center;
    margin: 30px 20px;
} 

.after h2{
    font-size: 35px;
}
.after .line{
    width: 60.5%;
    height: 2.5px;
    background: var(--blue-clr);
    margin-left: 20%;
    margin-bottom: 20px;
}

.after p{
    font-size: 25px;
    margin-bottom: 15px;
}

.F-line{
    width: 100%;
    height: 2.5px;
    background: var(--gld-clr);
}

@media(max-width: 1025px){
    .nav-info{
        font-size: 13px;
    }
}

@media(max-width: 980px){
    .nav-info{
        font-size: 11px;
    }
}

@media (max-width: 821px){
    .navbar{
       display: none;
   }
   
   .hide{
       display: flex;
   }
   
   .nav-info{
    display: none;
}
     
     .hero h1{
         font-size: 55px;
     }
   .hero{
       height: 250px;
   }
   
   
   
   .rules h2{
       font-size: 27px;
   }
   .times h3{
       font-size: 24px;
   }
   .times p{
       font-size: 19px;
   }
   
   .rules p{
       font-size: 19px;
   }
   
   .rules ol li{
       font-size: 23px;
   }
   .rules ul li{
       font-size: 19px;
   }
   
   .safety h2{
       font-size: 27px;
   } 
   .safety .line{
       width: 85%;
       margin-left: 8%;
   }
   
   .info h3{
       font-size: 23px;
   }
   .info p{
       font-size: 19px;
   }
   
   .murals h2{
       font-size: 27px;
   }
   .murals p{
       font-size: 19px;
   }
   
   .after h2{
       font-size: 27px;
   }
   .after p{
       font-size: 19px;
   }
   .after .line{
       margin-left: 4%;
       width: 93%;
   }
   
}

@media(max-width: 638px){
   .murals h2{
       text-align: center;
   }
   .murals .line{
       margin-left: 30%;
       width: 40%;
   }
   
   .back-bar p{
        font-size: 19px;
    }
   
     
   .times h3{
       text-align: center;
   }
   .times .line{
       margin-left: 30%;
       width: 40%;
   }
   
   .safety h2{
       font-size: 25px;
   } 
   .info h3{
       font-size: 21px;
   }
   
   .hero h1{
       font-size: 40px;
   }
   
}

@media(max-width: 436px){
   .hero h1{
       font-size: 34px;
   }
   
   .rules{
       margin: 30px 20px;
   }
   
    .rules h2{
       font-size: 21px;
   }
   .times h3{
       font-size: 19px;
   }
   .times p{
       font-size: 15px;
   }
   
   .rules p{
       font-size: 15px;
   }
   
   .rules ol li{
       font-size: 18px;
   }
   .rules ul li{
       font-size: 15px;
   }
   
   
   .rules ul{
       margin-bottom: 30px;
   }
   
   .safety h2{
       font-size: 19px;
   } 
   .safety .line{
       width: 85%;
       margin-left: 8%;
   }
   
   .info{
       margin: 20px 10px;
   }
   .info h3{
       font-size: 17px;
   }
   .info p{
       font-size: 15px;
       margin: 15px 3px;
   }
   
   .murals h2{
       font-size: 21px;
   }
   .murals p{
       font-size: 15px;
   }
   
   .after h2{
       font-size: 21px;
   }
   .after p{
       font-size: 15px;
   }
   .after .line{
       margin-left: 4%;
       width: 93%;
   }
   
   
    .hero{
       height: 150px;
   }
   
   .logo{
       font-size: 15px;
   }
   
   
   .back-bar p{
        font-size: 16px;
    }
   
  
   
   
}
