:root{
    --blue-clr: #1523ff;
    --naive-clr: #1d3673;
    --red-clr: #ff2a15;
    --gld-clr: #eac13b;
    --txt-clr: #ffffff;
    --txt-clr-: #ffffff;
    --bg-clr-: #212121;
    --bg-clr: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body {
    background: var(--txt-clr);
    color: var(--bg-clr);
    transition: 1s;
}

footer .container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
  color: var(--txt-clr-);
}
.footer{
	background-color: var(--bg-clr-);
    padding: 0px 0;
	padding-top: 70px;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--blue-clr);
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: var(--txt-clr-);
	display: block;
	transition: all 0.5s ease;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer .back-bar{
	margin-top: 50px;
	padding: 13px 0px;
	background: var(--blue-clr);
	text-align: center;
	color: var(--txt-clr-);
	font-size: 20px;
}
.footer .back-bar a{
	text-decoration: none;
	color: var(--txt-clr-);
	margin-left: 5px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




