:root{
    --blue-clr: #1523ff;
    --naive-clr: #1d3673;
    --red-clr: #ff2a15;
    --gld-clr: #eac13b;
    --txt-clr: #ffffff;
    --txt-clr-: #ffffff;
    --bg-clr-: #212121;
    --bg-clr: #212121;
}
  html {
    scroll-behavior: smooth;
  }
  
  #progress {
    position: fixed;
    bottom: 20px;
    right: 8px;
    height: 60px;
    width: 60px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
  }
  #progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: var(--txt-clr);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: var(--bg-clr);
  }
  